<form method="POST" action="{{ path('app_reclamation_delete', {'idrec': reclamation.idrec}) }}" onsubmit="return confirm('voulez vous vraiment supprimer cette reclamation ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reclamation.idrec) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
