{% extends 'base.html.twig' %}

{% block title %}New Reclamation{% endblock %}

{% block body %}
<br>
<br>
<div class="header header-transparent dark-text">
			<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<nav id="navigation" class="navigation navigation-landscape">
								<div class="nav-header">
									<a class="nav-brand" href="#">
										<img src="front/img/logo.png" class="logo" alt="" />
									</a>
									<div class="nav-toggle"></div>
								</div>
								<div class="nav-menus-wrapper">
									<ul class="nav-menu">

										<li class="active"><a href="#">Home<span class="submenu-indicator"></span></a>

										</li>

										<li><a href="#">Formation<span class="submenu-indicator"></span></a>




										</li>

										<li><a href="{{ path('app_reclamation_index') }}">Reclamation</a></li>

										<li><a href="#">Pages<span class="submenu-indicator"></span></a>

										</li>

									</ul>

									<ul class="nav-menu nav-menu-social align-to-right">

										<li>
											<a href="javascript:void(0);" data-toggle="modal" data-target="#upload-resume">
												<i class="fa fa-upload mr-1"></i>
											</a>
										</li>
										<li class="add-listing dark-bg">
											<a href="#" data-toggle="modal" data-target="#login">
												 <i class="ti-user mr-1"></i> Deconnecté
											</a>
										</li>
									</ul>
								</div>
							</nav>

					</div>
				</div>
			</div>
</div>
<br>
<br>


<div class="container">
  <div class="row">
<div class="col-lg-7 col-md-5">
 <div class="form-outline mb-4">
    <h4>Creer votre reclamation</h4>

    {{ include('reclamation/_form.html.twig') }}
<br>
    <a class="btn btn-info" href="{{ path('app_reclamation_index') }}">Retourner</a>
    </div>
</div>
 </div>
</div>
{% endblock %}
