{% extends 'auth-signup-cover.html.twig' %}

{% block register %}
    <div class="form-floating form-floating-custom mb-3">
        <h2 class="active">Courriel de réinitialisation du mot de passe envoyé</h2>
        <p>
            Si un compte correspondant à votre adresse e-mail existe, un e-mail contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe vient d'être envoyé.
            Ce lien expirera dans{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
        </p>
        <p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou <a href="{{ path('app_forgot_password_request') }}">Réessayez</a>.</p>

    </div>

{% endblock %}