{% extends 'baseFront.html.twig' %}

{% block title %}Edit Formation{% endblock %}

{% block body %}
    <h1>Edit Formation</h1>

    {{ include('freelancer/new.html.twig', {'button_label': 'Modifier', 'button_class': 'btn btn-success' }) }}

    
{% endblock %}
