{% extends 'baseBack.html.twig' %}

{% block stats %}
<section class="section"> <!--dans la baseback.html.twig j'ai un block de statistique line 356-->
    <div class="row">
        <div class="col-lg-6" >
            <div class="card" >

                    <div class="card-body">
                        <h5 class="card-title">Distribution des utilisateurs par role</h5>

                        <!-- Pie Chart -->
                        <div id="role_chart"></div>
                        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script><!--j'ai utiliser bib loader.js pour loader la charte-->
                        <script type="text/javascript">
                            {{ gc_draw(chart2, 'role_chart') }}//le chart que j'ai envoyer apartir de controlleur 'chart2' ligne 455 je le fait lappelle apArtir gc_draw
                        </script>
                    </div>

            </div>
        </div>
        </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}