{% extends 'auth-signup-cover.html.twig' %}

    {% block register %}

        <div class="row pull-center">
            <div class="col-md-6">
                <div class="form-floating form-floating-custom mb-3">
                    Check your mailbox to verify your account
                </div>
            </div>

        </div>



{% endblock %}